.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 413px);
  gap: 20px;
  padding-bottom: 40px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  flex: cover;
  height: 445px;
  width: 413px;
  position: relative;
}

.card__image {
  width: 100%;
  height: 413px;
  border-radius: 10px;
}

.card__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #212121;
  margin-top: 12px;
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #212121;
  margin-top: 12px;
  border: 0px;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__title {
  margin: 0px;
}

.card__button-like {
  opacity: 0.4;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.card__button-like:hover {
  opacity: 1;
}

.card__button-like_clicked {
  opacity: 1;
  background-image: url(../images/Liked-icon-clicked.png);
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.card__button-like_clicked:hover {
  opacity: 0.4;
}

.card__button-delete {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-style: none;
  background-image: url(../images/delete-icon.png);
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-position: center;
}

.card__button-delete:hover {
  background-color: #ff6565;
  cursor: pointer;
}
/* Mobile */
@media (max-width: 480px) {
  .card__image {
    /* display: flex and max-width: 300px are still set from above */
    flex-direction: column;
    justify-content: center;
    height: 288px;
    width: 288px;
    margin-top: 0px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 288px);
    justify-content: center;
  }

  .card {
    width: 288px;
    height: 318px;
  }

  .card__text {
    padding-bottom: 20px;
    margin-bottom: 0px;
  }
}
