.modal {
  visibility: hidden;
  position: fixed;
  background-color: #00000080;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_is-opened {
  visibility: visible;
  padding: 10px;
}
.modal__container {
  max-width: 730px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 32px 50px;
}
.modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal__close-btn {
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon.png);
  background-position: center;
  border: none;
  background-color: #fff;
}
.modal__title {
  margin: 0 0 32px;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin: 0 0 32px;
}
.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 8px;
  padding: 16px 12px;
  height: auto;
  box-sizing: border-box;
}
.modal__input::placeholder {
  color: #2121214d;
}
.modal__submit-btn {
  background-color: #212121;
  padding: 18px 58px;
  border-radius: 8px;
  color: #fcf5e5;
  max-width: 156px;
  width: 100%;
}

@media (max-width: 480px) {
  .modal__container {
    padding: 12px;
  }
  .modal__submit-btn {
    max-width: 100%;
    margin: auto;
  }
}
