.page {
  background-color: #fcf5e5;
}

.poppins-regular {
  font-family: "Poppins", sans-serif Arial, Helvetica;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif Arial, Helvetica;
  font-weight: 500;
  font-style: normal;
}
