@import url(./header.css);

.page {
  background-color: #fcf5e5;
  font-family: "Poppins", sans-serif, Arial, Helvetica;
  font-weight: 400;
  font-style: normal;
}

.profile__avatar-section_edit {
  margin-top: auto;
}

.page__content {
  max-width: 1280px;
  margin: 0 auto;
}
