.profile {
  display: flex;
  flex-direction: row;
  margin-top: 34px;
  margin-left: 80px;
  margin-bottom: 20px;
  margin-right: 80px;
  border-bottom: 1px solid #838383;
}

.profile__avatar-section_image {
  display: flex;
  margin-bottom: 20px;
}
.profile__avatar-text {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  justify-content: space-between;
}

.profile__avatar_name {
  font-family: "Poppins", sans-serif Arial, Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  margin-top: auto;
  margin-bottom: 0px;
}

.profile__avatar_sub-text {
  margin-top: 12px;
  border: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.profile__avatar_buttons {
  padding: 0px;
  gap: 8px;
  margin-top: auto;
}

.profile__button_edit {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: none;
  background-color: #fcf5e5;
  margin-right: auto;
  margin-top: auto;
  gap: 8px;
  color: #212121;
  opacity: 0.4;
}

.profile__button_edit:hover {
  opacity: 1;
}
.profile__button_post {
  display: flex;
  margin-top: auto;
  margin-left: auto;
  color: #fff;
  background-color: #212121;
  border-radius: 5px;
  border: 0px;
  gap: 8px;
  width: 149px;
  padding: 18px 0;
  justify-content: center;
  margin-bottom: 20px;
}

.profile__button_post:hover {
  opacity: 0.4;
}
