.profile {
  display: flex;
  flex-direction: row;
  margin-top: 34px;
  margin-bottom: 20px;
  border-bottom: 1px solid #838383;
  justify-content: center;
}

.profile__avatar {
  display: flex;
  margin-bottom: 20px;
}
.profile__content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  justify-content: space-between;
}

.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  margin-top: auto;
  margin-bottom: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 420px;
}

.profile__sub-text {
  margin-top: 12px;
  border: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 420px;
}

.profile__button-edit {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: none;
  background-color: #fcf5e5;
  margin-right: auto;
  margin-top: auto;
  gap: 8px;
  color: #212121;
  opacity: 0.4;
  cursor: pointer;
}

.profile__button-edit:hover {
  opacity: 1;
}
.profile__button-post {
  display: flex;
  margin-top: auto;
  margin-left: auto;
  color: #fff;
  background-color: #212121;
  border-radius: 5px;
  border: 0px;
  gap: 8px;
  width: 149px;
  padding: 18px 0;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.profile__button_post:hover {
  opacity: 0.4;
}

@media (max-width: 630px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-top: 0px;
  }

  .profile__title {
    margin-top: 0px;
    margin-bottom: 6px;
  }

  .profile__content {
    flex-direction: column;
    margin: auto;
  }

  .profile__sub-text {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .profile__button-edit {
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 20px;
    cursor: pointer;
  }

  .profile__button-post {
    padding-bottom: 20px;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  .profile__avatar {
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }
}
