.profile {
  display: flex;
  flex-direction: row;
  margin-top: 34px;
  margin-bottom: 20px;
  border-bottom: 1px solid #838383;
  justify-content: center;
}
.profile__avatar-container {
  position: relative;
  margin-bottom: 20px;
}
.profile__avatar {
  display: flex;
}
.profile__avatar-button {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
}
.profile__avatar-button:hover {
  cursor: pointer;
}

.profile__avatar-container:hover .profile__avatar-button {
  visibility: visible;
}
.profile__avatar-button::after {
  content: "Edit Avatar";
  color: #ffffff;
}

.profile__content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  justify-content: space-between;
}

.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  margin-top: auto;
  margin-bottom: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 420px;
}

.profile__sub-text {
  margin-top: 12px;
  border: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 420px;
}

.profile__button-edit {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: none;
  background-color: #fcf5e5;
  margin-right: auto;
  margin-top: auto;
  gap: 8px;
  color: #212121;
  opacity: 0.4;
  cursor: pointer;
}

.profile__button-edit:hover {
  opacity: 1;
}
.profile__button-post {
  display: flex;
  margin-top: auto;
  margin-left: auto;
  color: #fff;
  background-color: #212121;
  border-radius: 5px;
  border: 0px;
  gap: 8px;
  width: 149px;
  padding: 18px 0;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.profile__button-post:hover {
  opacity: 0.4;
}

@media (max-width: 630px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-top: 0px;
  }
  .profile__avatar-container {
    position: relative;
    display: flex;
    max-width: 80px;
    max-height: 80px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }
  .profile__avatar-button {
    visibility: visible;
    border: none;
    bottom: 10px;
    right: 5px;
    width: 24px;
    height: 24px;
    position: absolute;
  }

  .profile__avatar-button::after {
    content: none;
  }

  .profile__title {
    margin-top: 0px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    text-align: center;
    color: #212121;
  }

  .profile__content {
    flex-direction: column;
    margin: auto;
  }

  .profile__sub-text {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    color: #212121b2;
  }

  .profile__button-edit {
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 20px;
    cursor: pointer;
  }

  .profile__button-post {
    padding-bottom: 20px;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  .profile__avatar {
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }
}
